.container {
  display: flex;
  justify-content: center;
  min-width: 1500px;
}

.mainBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 60%;
}
.dayBox {
  /* width: 100%; */
  min-width: 952px;
  /* height: 100px; */
  /* width: 15vh;
  height: 5vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
}
.dayContentBox {
  font-size: 25px;
  font-weight: bold;
}
.contentBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.doItBox {
  display: flex;
  align-items: center;
  /* height: 50px; */
  /* padding-left: 20px; */
  margin-bottom: 10px;
}
.doItContentBox {
  font-weight: bold;
}
.doItContentBox span {
  color: #ed7d31;
  /* font-size: larger; */
}
.mainContentBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(173, 173, 173);
  /* justify-content: center; */
  justify-content: space-between;
  min-width: 952px;
}
.summaryBox {
  display: flex;
  flex-direction: column;
  width: 64%;
  /* min-width: 707px; */
  /* justify-content: center; */
  align-items: center;
  position: relative;
}
.summaryTitleBox {
  padding: 20px;
  padding-left: 0px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: 90%;
}
.summaryTitleBox div {
  font-weight: bold;
}
.summaryTitleBoxLine {
  width: 92%;
  border-bottom: 1px solid rgb(173, 173, 173);
}
.summaryContentBox {
  padding: 20px;
  padding-left: 0px;
  padding-top: 0px;
  width: 90%;
}
.summaryContentEach {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(225, 225, 225);
  margin-top: 15px;
  cursor: pointer;
}
.summaryCheckBox {
  width: 15%;
  height: 15px;
  overflow: hidden;
  position: relative;
}
.summaryCheckBox img {
  width: 18px;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.summaryState {
  margin-left: 8%;
  width: 10%;
}
.summaryTitle {
  width: 25%;
}
.summaryContent {
  width: 40%;
}
.summaryPeriod {
  width: 20%;
}
.summaryPagenationBox {
  display: flex;
  justify-content: center;
  padding: 10px;
  position: absolute;
  bottom: 0px;
}

.summaryPagenationBox button {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 0 5px;
  padding: 5px 7px;
  cursor: pointer;
}
.summaryPagenationBox .activePage {
  background-color: #ed7d31;
  color: #fff;
}
.summaryTodoAddBox {
  position: absolute;
  bottom: 10px;
  right: 40px;
}
.summaryTodoAddBox button {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 0 5px;
  padding: 5px 7px;
  cursor: pointer;
}
.summaryTodoAddBox button:hover {
  background-color: #ed7d31;
  color: #fff;
}

.detailBox {
  display: flex;
  flex-direction: column;
  width: 34%;
  /* min-width: 342.53px; */
}
.detailSearchIcon {
  width: 25px;
}
.detailSearchBox {
  /* padding-top: 10px; */
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.detailContentBox {
  width: 95%;
  border: 1px solid rgb(222, 222, 222);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 500px;
  padding: 0 2.5% 10px 2.5%;
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailContentClickedState {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  position: relative;
}
.detailContentClickedStateTitleBox {
  padding: 20px;
  position: relative;
}
.detailContentClickedStateTitleBox div {
  font-weight: bolder;
  font-size: larger;
}
.detailContentClickedStateTitleBox img {
  position: absolute;
  top: 20px;
  right: 5px;
  cursor: pointer;
}
.detailContentClickedStatePeriodBox {
  display: flex;
  flex-direction: row;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(222, 222, 222);
}
.detailContentClickedStatePeriodBox :first-child {
  margin-right: 30px;
  font-size: large;
}
.detailContentClickedStateColorBox {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 10px;
  border-radius: 50%;
}
.detailContentClickedStateContentBox {
  padding: 20px;
}
.detailContentClickedStateButtonBox {
  position: absolute;
  bottom: 10px;
  right: 0px;
}
.detailContentClickedStateButtonBox button {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 0 5px;
  padding: 5px 7px;
  cursor: pointer;
}
.detailContentClickedStateButtonBox button:hover {
  background-color: #ed7d31;
  color: #fff;
}

.detailAddClickedState {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  position: relative;
}
.detailContentClickedStateTitleAddBox {
  padding: 20px;
}
.detailContentClickedStateTitleAddBox input {
  font-weight: bolder;
  font-size: larger;
  border: none;
}
.detailContentClickedStateTitleAddBox input:focus {
  border: none;
  outline: none;
}
.detailContentClickedStatePeriodAddBox {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(222, 222, 222);
}
.periodTitle {
  margin-right: 8px;
  width: 40px;

  font-size: large;
}
.datePickerBox {
  width: 225px;
}
.test {
}
.datepicker {
  border: none;
  width: 220px;
  font-size: 13px;
}
.detailContentClickedStateContentAddBox {
  width: auto;
  height: 300px;
  padding: 20px;
}
.detailContentClickedStateContentAddBox textarea {
  width: 100%;
  height: 290px;
  border: none;
  resize: none;
}
.detailContentClickedStateContentAddBox textarea:focus {
  border: none;
  outline: none;
}

.detailContentClickedStateAddButtonBox div {
  position: absolute;
  bottom: 10px;
  right: 0px;
}
.detailContentClickedStateAddButtonBox div button {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 0 5px;
  padding: 5px 7px;
  cursor: pointer;
}

.detailContentClickedStateAddButtonBox div button:hover {
  background-color: #ed7d31;
  color: #fff;
}

.selectBox {
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 15px;
}

.colorBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.checkbox_icon {
  display: flex;
  width: 18px;
  height: 18px;
}

.red .checkbox_icon {
  background-color: #eeaaaa;
}

.yellow .checkbox_icon {
  background-color: #efe2a1;
}

.green .checkbox_icon {
  background-color: #c4e6ce;
}

.blue .checkbox_icon {
  background-color: #add0fb;
}

.purple .checkbox_icon {
  background-color: #cbb1ed;
  /* margin-right: 8px; */
}

input[type="checkbox"]:checked + .checkbox_icon::after {
  content: "✔";
  color: #555555;
  font-size: 14px;
  margin: 0 auto;
}
