.container {
  display: flex;
  justify-content: center;
}

.mainBox {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  align-items: center;
  height: 100vh;
  width: 60%;
}

.monthBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15vh;
  height: 5vh;
}

.img {
  width: 20px;
  height: 20px;
}

.month {
  font-size: 25px;
  font-weight: bold;
}

.topBox {
  display: flex;
  width: 100vh;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  margin: 10px 0;
}

.nameBox {
  display: flex;
  font-size: 20px;
  font-weight: bold;
}

.selectBox {
  display: flex;
}

.colorBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.searchImg {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

/* 체크박스 커스텀 */
input[type="checkbox"] {
  display: none;
}

.checkbox_icon {
  display: flex;
  width: 18px;
  height: 18px;
}

.red .checkbox_icon {
  background-color: #eeaaaa;
}

.yellow .checkbox_icon {
  background-color: #efe2a1;
}

.green .checkbox_icon {
  background-color: #c4e6ce;
}

.blue .checkbox_icon {
  background-color: #add0fb;
}

.purple .checkbox_icon {
  background-color: #cbb1ed;
  /* margin-right: 8px; */
}

input[type="checkbox"]:checked + .checkbox_icon::after {
  content: "✔";
  color: #555555;
  font-size: 14px;
  margin: 0 auto;
}

/* 달력박스 */
.calendarBox {
  display: flex;
  flex-direction: column;
  height: 65vh;
  padding: 0;
}

.calendarInnerBox {
  width: 100vh;
  display: flex;
  flex-direction: column;
}

.dayList {
  display: flex;
  margin: 10px 0;
  color: #333333;
}

.saturday {
  color: blue;
}

.sunday {
  color: red;
}

.curDate.today {
  font-weight: bold;
  color: #ed7d31;
}

.dayItem {
  width: 14%;
  text-align: center;
  font-weight: bold;
}

.dateList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.prevDate,
.curDate,
.nextDate {
  width: 12%;
  text-align: right;
  cursor: pointer;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.dateTextBox {
  height: 8vh;
  text-align: center;
  padding: 2px 0;
  font-size: 13px;
}

.prevDate {
  color: #ccc;
}

.curDate {
  color: #000;
}

.curDate:hover {
  background-color: #f0f0f0;
}

.nextDate {
  color: #ccc;
}

.textBox {
  display: flex;
}
