.container {
  min-width: 1500px;
  display: flex;
  justify-content: center;

  height: 100%;
}

.mainBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  max-width: 952px;
  height: 800px;
  position: relative;
}

.monthBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14%;
  margin-top: 40px;
  margin-bottom: 30px;
}

.img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.month {
  font-size: 25px;
  font-weight: bold;
}

.topBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* height: 5vh; */
  /* margin: 10px 0; */
  margin-bottom: 10px;
}

.nameBox {
  display: flex;
  font-size: 16px;
  font-weight: bold;
}

.selectBox {
  display: flex;
}

.colorBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

/* 체크박스 커스텀 */
input[type="checkbox"] {
  display: none;
}

.checkbox_icon {
  display: flex;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.red .checkbox_icon {
  background-color: #eeaaaa;
}

.yellow .checkbox_icon {
  background-color: #efe2a1;
}

.green .checkbox_icon {
  background-color: #c4e6ce;
}

.blue .checkbox_icon {
  background-color: #add0fb;
}

.purple .checkbox_icon {
  background-color: #cbb1ed;
  /* margin-right: 8px; */
}

input[type="checkbox"]:checked + .checkbox_icon::after {
  content: "✔";
  color: #555555;
  font-size: 14px;
  margin: 0 auto;
}

/* 달력박스 */
.calendarBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* height: 65vh; */
  padding: 0;
  align-items: center;
}

.calendarInnerBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dayList {
  display: flex;
  margin: 10px 0;
  color: #333333;
}

.saturday {
  color: blue;
}

.sunday {
  color: red;
}

.curDate.today {
  font-weight: bold;
  color: #ed7d31;
}

.dayItem {
  width: 14%;
  text-align: center;
  font-weight: bold;
}

.dateList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.prevDate,
.curDate,
.nextDate {
  width: 12%;
  text-align: right;
  cursor: pointer;
  padding: 10px;
  border-top: 1px solid #ccc;
  font-weight: bold;
}

.dateTextBox {
  display: flex;
  flex-direction: column;
  /* height: 7vh; */
  height: 60px;
  text-align: center;
  padding: 2px 0;
  font-size: 12px;
  font-weight: bold;
  color: black;
  overflow-y: scroll;
}

.dateTextBox::-webkit-scrollbar {
  display: none;
  width: 0px;
}

.dateText {
  margin: 2px;
  padding: 2px;
  border-radius: 3px;
}

.dateText:hover {
  font-size: 1.1em;
}

.prevDate {
  color: #ccc;
}

.curDate {
  color: #555555;
}

.curDate:hover {
  background-color: #f0f0f0;
}

.nextDate {
  color: #ccc;
}

/* 팁박스 */
.topTipBox {
  position: absolute;
  right: 0px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
}

.tipTextBox {
  position: absolute;
  top: 10px;
  right: -170px;
  height: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 8px;
  border: 2px solid #ed7d31;
  padding: 10px;
  opacity: 0.8;
}

.inputTipText {
  outline: none;
  font-size: 12px;
  border: none;
  border-bottom: 1px solid #ed7d31;
  padding: 5px 0;
  font-weight: bold;
  font-family: NanumSquareR;
}

.inputTipText::placeholder {
  color: #555;
}

.inputTipText:focus::placeholder {
  opacity: 0;
}

.okButton {
  outline: none;
  font-size: 12px;
  border: none;
  color: #555;
  background-color: white;
  font-weight: bold;
  font-family: NanumSquareR;
  cursor: pointer;
}

.okButton:hover {
  color: #ed7d31;
}

/* 검색창 */
.searchImg {
  display: flex;
  align-items: center;
  margin-left: 8px;
  cursor: pointer;
}

.searchBox {
  position: absolute;
  right: -200px;
  top: 96px;
  width: 185px;
  height: 420px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.searchBox::-webkit-scrollbar {
  display: none;
  width: 0px;
}

.searchInput {
  border: none;
  color: #555555;
  font-weight: bold;
  border-bottom: 1px solid #999;
  font-size: 12px;
  width: 80%;
  padding: 0 0 5px 0;
  font-family: NanumSquareR;
  outline: none;
}

.searchInput::placeholder {
  color: #999;
}
.searchInput:focus::placeholder {
  opacity: 0;
}

.searchResultBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  width: 120px;
  height: 35px;
  padding: 15px;
  border-radius: 3px;
}
.searchResultBox.color-ccc {
  background-color: #ccc;
}

.searchResultBox.color-eeaaaa {
  background-color: #eeaaaa;
}

.searchResultBox.color-efe2a1 {
  background-color: #efe2a1;
}

.searchResultBox.color-c4e6ce {
  background-color: #c4e6ce;
}

.searchResultBox.color-add0fb {
  background-color: #add0fb;
}
.searchResultBox.color-cbb1ed {
  background-color: #cbb1ed;
}

.searchResultName {
  font-weight: bold;
  color: #555;
  font-size: 14px;
}

.searchResultDate {
  font-weight: bold;
  color: #777;
  font-size: 10px;
}
