.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 배경 흐리게 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.modalBox {
  width: 325px;
  height: 45vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalNameBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalName {
  font-weight: bold;
  font-size: 20px;
  border: none;
  outline: none;
  height: 4vh;
  justify-content: center;
}

.modalName:focus::placeholder {
  color: #333;
  opacity: 0;
}

.modalPeriodBox {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
  height: 4vh;
  width: 100%;
  align-items: center;
}

.datepicker {
  width: 85%;
  border: none;
  font-family: "NanumSquareR";
  margin-bottom: 3px;
}

.periodName {
  font-weight: bold;
  margin-left: 2px;
  color: #333333;
  text-align: center;
}
.periodNum {
  width: 47%;
}
.modalTextBox {
  display: flex;
  flex-direction: column;
  height: 30vh;
  border-bottom: 1px solid #cccccc;
}

.modalText {
  height: 100%;
  font-size: 15px;
  border: none;
  outline: none;
  resize: none;
  font-family: "NanumSquareR";
}

.modalText::-webkit-scrollbar {
  display: none;
}

.modalText:focus::placeholder {
  opacity: 0;
}

.modalOkBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.okButton {
  border: none;
  font-family: "NanumSquareR";
  background-color: white;
  font-weight: bold;
  color: #555;
  cursor: pointer;
}

.okButton:hover {
  color: #ed7d31;
}

.closeButton {
  cursor: pointer;
}
