.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 100vh;
}

.header {
  display: flex;
  height: 114px;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

.logoBox {
  display: flex;
  justify-content: center;
  width: 20%;
  min-width: 300px;
}

.logo {
  font-size: 40px;
  font-weight: 999;
}

.mainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mainDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 600px;
}

.leftBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 50%;
  font-weight: bold;
}

.textBox div:first-child {
  font-size: 60px;
}

.textBox div:nth-child(2) {
  margin-left: 5px;
  color: #555555;
}

.highlight {
  color: #ed7d31;
}

.userCode {
  border: none;
  background-color: #ed7d31;
  padding: 15px;
  color: white;
  font-size: 20px;
  outline: none;
  font-weight: bold;
}

.userCode::placeholder {
  color: white;
  opacity: 0.8;
  align-items: center;
}

.userCode:focus::placeholder {
  opacity: 0;
}

.tipBox {
  font-size: 12px;
  margin: 3px;
  color: #555555;
}

/* 메인페이지 헤더 */
.naviBox {
  display: flex;
  width: 140vh;
  justify-content: space-between;
  align-items: center;
  min-width: 1300px;
}

.naviInnerBox {
  display: flex;
  width: 20%;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}

.naviInnerBox div:hover {
  color: #ed7d31;
}

.viewImg {
  display: flex;
  width: 20px;
  height: 20px;
}

.viewPage {
  display: flex;
  /* justify-content: flex-start; */
  transform: scale(0.5);
  flex-wrap: wrap;
  width: 1000px;
  height: 50px;
}

.viewPageTop {
  display: flex;
  /* justify-content: center; */
}

.viewPageBtm {
  display: flex;
  margin-left: 1000px;
}
